<form action="/admin/products" method="POST">
    <div class="mb-4 text-center">
        <h1 class="h3 font-weight-normal mb-3">新增餐點</h1>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="name">名稱</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="餐點名稱" required>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="price">價錢</label>
        <input class="form-control" type="number" name="price" id="price" placeholder="餐點價錢" required>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="description">詳細資訊</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="image">圖片</label>
        <input class="form-control" type="text" name="image" id="image" placeholder="圖片連結">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>