<h1>餐點</h1>
<a href='/admin/products' class="btn btn-primary">餐點清單</a>
<a href='/admin/products/create' class="btn btn-primary">新增餐點</a>
<a href='/admin/categories' class="btn btn-primary">分類清單</a>
<hr>
<h1>人員</h1>
<a href='/admin/users' class="btn btn-primary">人員清單</a>
<a href='/signup' class="btn btn-primary">新增人員</a>
<hr>
<h1>訂單</h1>
<a href='/admin/orders' class="btn btn-primary">歷史訂單</a>
<hr>