{{!-- <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">菜單</a>
        </div>
    </nav>
</header> --}}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/products"
                        class="nav-link px-2 text-secondary {{#if products}}text-white{{else}}text-secondary{{/if}}">點餐</a>
                </li>
                <li><a href="/orders/unfinished"
                        class="nav-link px-2 {{#if unfinishedOrders}}text-white{{else}}text-secondary{{/if}}">未完成訂單</a>
                </li>
            </ul>

            <div class="text-end">
                {{#if user.isAdmin}}
                <a href="/admin" method="get" class="btn btn-outline-light">後台</a>
                {{/if}}
                {{#if user}}
                <a href="/logout" method="get" class="btn btn-outline-light">Logout</a>
                {{else}}
                <a href="/login" method="get" class="btn btn-outline-light">Login</a>
                {{/if}}
            </div>
        </div>
    </div>
</header>