{{!-- <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">菜單</a>
        </div>
    </nav>
</header> --}}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {{#if user}}
                <li class="option"><a href="/products" class="nav-link px-2 text-secondary">點餐</a>
                </li>
                <li class="option"><a href="/orders/unfinished" class="nav-link px-2 ">未完成訂單</a>
                </li>
                <li class="option"><a href="/orders/unpaid" class="nav-link px-2 ">未付款訂單</a>
                </li>
                <li class="option"><a href="/orders/today" class="nav-link px-2 ">今日完成訂單</a>
                </li>
                <li><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        使用說明
                    </button></li>
                {{/if}}
            </ul>

            <div class="text-end">
                {{user.name}}
                {{#if user.isAdmin}}
                <a href="/admin" method="get" class="btn btn-outline-light">後台</a>
                {{/if}}
                {{#if user}}
                <a href="/logout" method="get" class="btn btn-outline-light">Logout</a>
                {{else}}
                <a href="/login" method="get" class="btn btn-outline-light">Login</a>
                {{/if}}
            </div>
        </div>
    </div>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">使用流程</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ol>
            <li><span style="color: brown;">點餐</span>頁面中，可以將餐點加入購物車，並選擇桌號/外帶。備註為選填。</li>
            <li>購物車送出後，會將訂單顯示在<span style="color: brown;">未完成訂單</span>。完成時可確認送<span style="color: brown;">未付款訂單</span>。
            </li>
            <li><span style="color: brown;">未付款訂單</span>裡，選擇要付款的訂單，可以確認餐點。確認完後可選擇<strong>現金支付</strong>或<strong>line
                    pay支付</strong>(sandbox不會扣款)
            </li>
            <li>
                <span style="color: brown;">今日完成訂單</span>頁面，只會顯示今日訂單的細項。如要看歷史訂單需登入admin權限帳號。
            </li>
        </ol>
    </div>
</div>

<script>
    const path = window.location.pathname;
    const liElements = document.querySelectorAll('.option');
    liElements.forEach(li => {
        const a = li.querySelector('a');
        if (a.getAttribute('href') === path) {
            a.classList.add('text-white');
        } else {
            a.classList.add('text-secondary');
        }
    });
</script>