<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="content" class="border rounded"
                style="height: 400px; overflow-y: scroll; margin-bottom: 20px; padding: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <input type="text" id="input" class="form-control">
        </div>
        <div class="col-3">
            <button type="button" id="send-message-btn" class="btn btn-primary btn-block">送出</button>
        </div>
    </div>
</div>

<script>
    const ws = new WebSocket('ws://localhost:8080');
    const sendMessageBtn = document.querySelector('#send-message-btn');
    const input = document.querySelector('#input');

    // Connection opened
    ws.addEventListener("open", (event) => {
        //socket.send("聊天室已連線!");
    });

    // Listen for messages
    ws.addEventListener("message", (event) => {
        // console.log("Message from server ", JSON.parse(event.data));
        // 取得 #content 元素
        const content = document.querySelector('#content');
        // 將 WebSocket 傳來的資料轉成陣列，並且將每個元素包在 <p> 內
        const data = JSON.parse(event.data);
        // 將資料放入 #content 中
        content.innerHTML = data.map((data) => `<p>${data.time} <strong>${data.userName}</strong>：${data.value}</p>`).join('');
        scrollToBottom()
        resetInput()
    });

    sendMessageBtn.addEventListener('click', () => {
        const value = document.querySelector('#input').value.replace(/(^\s*)|(\s*$)/g, "").replace(/[\r\n]/g, "");
        if (!value) {
            resetInput()
            return;
        }
        const userName = document.querySelector('#user-name').innerText;
        const data = JSON.stringify({ value, userName });

        ws.send(data);
    });

    input.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            sendMessageBtn.click();
        }
    });

    function scrollToBottom() {
        const content = document.getElementById('content');
        content.scrollTop = content.scrollHeight;
    }

    function resetInput() {
        document.querySelector('#input').value = '';
    }
</script>