<div class="container">
    <h3>支付測試點餐機</h3>
    <div class="row" id="menu">
        {{#each productData.food}}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">價格：{{price}}</p>
                        <a id='{{id}}' href="javascript:;" class="btn btn-primary" data-id="{{id}}">加入購物車</a>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <h4 class="mt-4">已購買清單</h4>
    <div class="row">
        <div class="col-12">
            <ul class="list-group" id="cart">

            </ul>
        </div>
    </div>
    <h5 class="mt-4">總金額：<span id="total-amount">--</span></h5>
    <div class="row mt-5">
        <div class="col-12">
            <button type="button" class="btn btn-info" id="submit-button">結帳</button>
        </div>
    </div>
</div>